*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans' , sans-serif;
}
.App{
    min-height: 100vh;
    position: relative;
    background-color: #313131;
}
.camera{
position: relative;
}
.result{
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0,0, 0.9);
    transition: 0.4s;
}
.result.hasphoto{
    left: 0;

}
video{
    width: 50%;
    max-width: 50%;
    height: 50%;
 
}
button{
    position: absolute;
    bottom: 20px;
    left: 20px;
    /* background-color: ; */
    appearance: none;
    border: none;
    outline: none;
    padding: 8px 16px;
    background-image: linear-gradient(to right,
    #844FFF 50% , #FF4F84 50%);
    background-position: 0%;
    background-size: 200%;
    color: white;
    font-size: 22px;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    background-position: 100%;
}

canvas{
    width: 100%;
    height: auto ;
}